<%- include('../includes/header.ejs')%>
    <div class="container mt-4">
        <form action="/contact" method="POST">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Nom</span>
                <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                    name="name">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">E-mail</span>
                <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                    name="email">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Objet</span>
                <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                    name="objet">
            </div>

            <div class="input-group">
                <span class="input-group-text">Déscription</span>
                <textarea class="form-control" aria-label="With textarea" name="description"></textarea>
            </div>

            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                J'accepte que mon adresse e-mail soit stockée pour apporter une réponse.
            </label>
            <br>
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </form>
    </div>

    <%- include('../includes/footer.ejs')%>